/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

 @media (max-width: 1250px) {
  #header .header-content {
    margin-top: 10em;
  }

  #main-nav {
    margin-top: -10em;
  }
}
/* fold */
@media (max-width: 280px) {
  #header .header-content {
    margin-top: 10em;
  }

  #header .main-content {
    padding: 2em;
    font-size: .5em;
  }

  #main-nav {
    margin-top: -10em;
  }
}

@media (max-height: 280px) {
  #header .header-content {
    margin-top: 10em;
  }

  #header .main-content {
    padding: 2em;
    font-size: .5em;
    padding-bottom: 5em;
  }

  .main-image {
    display: none;
  }

  #main-nav {
    margin-top: -10em;
  }
}

@media (max-width: 512px) {
  #header .header-content {
    margin-top: 5em;
  }

  #header .main-content {
    padding: 2em;
    font-size: .5em;
  }

  .main-image {
    width: 18em;
  }

  #main-nav {
    margin-top: -5em;
  }
}

@media (max-height: 512px) {
  #header .header-content {
    margin-top: 12em;
  }

  #header .main-content {
    padding: 2em;
    font-size: .5em;
  }

  .main-image {
    width: 15em;
  }

  #main-nav {
    margin-top: -12em;
  }
}

/* end of fold */

/* surface duo */

@media (max-width: 540px) {
  #header .header-content {
    margin-top: 5em;
  }

  #header .main-content {
    padding: 2em;
    font-size: .5em;
  }

  .main-image {
    width: 18em;
  }

  #main-nav {
    margin-top: -5em;
  }
}

@media (max-height: 540px) {
  #header .header-content {
    margin-top: 10em;
  }

  #header .main-content {
    padding: 2em;
    font-size: .5em;
  }

  .main-image {
    width: 15em;
  }

  #main-nav {
    margin-top: -10em;
  }
}

/* end of surface duo */

/* ipad pro */

@media (max-width: 1024px) {
  #header .header-content {
    margin-top: 5em;
  }

  #header .main-content {
    padding: 2em;
    font-size: 1.2em;
  }

  #header button {
    font-size: 1em;
  }

  .rectangle {
    width: 14em;
  }

  #main-nav {
    margin-top: -5em;
  }
}

@media (max-height: 1024px) {
  #header .header-content {
    margin-top: 4em;
    flex-direction: row;
  }

  #main-nav {
    margin-top: -4em;
  }
}

/* end of ipad pro */

/* ipad comun y corriente */

@media (max-width: 768px) {
  #header .header-content {
    margin-top: 5em;
    flex-direction: column;
  }

  #header .main-content {
    padding: 2em;
    font-size: 1.2em;
  }

  #header button {
    font-size: 1em;
  }

  .rectangle {
    width: 14em;
  }

  #main-nav {
    margin-top: -5em;
  }
}

/* end of ipad */

/* iphone Xpensive */

@media (max-height: 375px) {
  #header .header-content {
    margin-top: 5em;
    flex-direction: column;
  }

  #main-nav {
    margin-top: -5em;
  }

  .main-image {
    display: none;
  }
}

/* end of iphone */

/* iphone viejitos */

@media (max-width: 414px) {
  #header .header-content {
    margin-top: 8em;
  }

  #header .main-content {
    padding: 1em;
    font-size: 1.2em;
  }

  #header button {
    font-size: 1em;
  }

  .rectangle {
    width: 14em;
  }

  #main-nav {
    margin-top: -8em;
  }
}

@media (max-height: 414px) {
  #header .header-content {
    margin-top: 5em;
    flex-direction: column;
  }

  #main-nav {
    margin-top: -5em;
  }

  .main-image {
    display: none;
  }
}

@media (max-height: 375px) {
  #header .header-content {
    margin-top: 8em;
    flex-direction: column;
  }

  #main-nav {
    margin-top: -8em;
  }

  .main-image {
    display: none;
  }
}

/* end of viejitos */

/* iphone 5 / SE */

@media (max-width: 320px) {
  #header .header-content {
    margin-top: 12em;
  }

  #header .main-content {
    padding: 1em;
    font-size: 1em;
  }

  #header button {
    font-size: 1em;
  }

  .main-image {
    width: 12em;
  }

  #main-nav {
    margin-top: -12em;
  }
}

/* end of iphoen 5 */

/* galaxy s5 */

@media (max-width: 360px) {
  #header .header-content {
    margin-top: 8em;
  }

  #header .main-content {
    padding: 1em;
    font-size: 1em;
  }

  #header button {
    font-size: 1em;
  }

  .main-image {
    width: 12em;
  }

  #main-nav {
    margin-top: -8em;
  }
}

/* end of galaxy s5 */

/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  nav {
    padding: 10px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }
  .lista {
    flex-direction: column;
    
  }


  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 767px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .lista {
    flex-direction: column;
    
  }


  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 10px;
    display: inline-block;
  }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 480px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 320px) {
  /* Navbar */
  nav {
    padding: 20px 15px;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }
  #about .div-img-bg {
    padding: 0;
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-descr .p-heading {
    font-size: 20px;
  }
  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }
  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }
  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }
  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }
  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}
